html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.avatar{
    width: 82px;
    height: 82px;
    border-radius: 40px;
}

.topbox{
    width: 100%;
    height: 62px;
    background-color: #0082fe;
}
.top{
    margin: auto;
    height: 62px;
    overflow: hidden;
    width: 1030px;
}
.logo{
    float: left;
    margin-top: 8px;
}
.title{
    font-size: 24px;
    color: #ffffff;
    line-height: 62px;
    font-family: "微软雅黑";
    float: left;
    margin-left: 20px;
}
.set{
    float: right;
    margin-top: 19px;
    margin-right: 5px;
    position: relative;
}
.set .tip{
    background-image: url(./imgs/set_tips.png);;
    width: 65px;
    height: 26px;
    position: absolute;
    top: -13px;
    left: -65px;
    line-height: 26px;
    text-indent: 0.4em;
    color: #0082fe;
    font-size: 12px;
}
.content{
    width: 1030px;
    margin: auto;
    margin-bottom: 50px;
}
.userborder{
    background-color: #dbdadb;
    margin-bottom: 10px;
    width: 230px;
    height: 216px;
    opacity:0.8;
}
.user{
    padding: 5px 0 15px 0;
}
.userpic{
    width: 82px;
    height: 82px;
    margin: auto;
    border-radius: 40px;
}
.username{
    text-align: center;
    color: #3E3E3E;
    font-size: 14px;
    margin-top: 20px;
}
.address-select{
    position: relative;
    width: 130px;
    margin: 10px auto 0 auto;
}
.address-select label{
    display: block;
    background-image: url(./imgs/address_select_bg.png);
    width: 130px;
    height: 30px;
    margin: auto;
    line-height: 29px;
    text-indent: 1.5em;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
#user-status{
    margin-left: 30px;
}
.arrow-down{
    width: 9px;
    height: 7px;
    background-image: url(./imgs/arrow-down.png);
    position: absolute;
    right: 10px;
    top: 12px;
}
#status{
    width: 130px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.user-handle{
    font-size: 12px;
    text-align: center;
    color: #3E3E3E;
    margin-top: 10px;
}
.user-handle a{
    display: inline-block;
    padding: 0 5px;
    color: #3E3E3E;
}
.footerbox{
    width: 100%;
    background-color: #0082fe;
    height: 40px;
}
.footer{
    color: #ffffff;
    width: 1030px;
    margin: auto;
    font-size: 12px;
    line-height: 40px;
}