html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.avatar{
    width: 82px;
    height: 82px;
    border-radius: 40px;
}
body{
    background-color: #ededed;
}
.topbox{
    width: 100%;
    height: 62px;
    background-color: #0082fe;
}
.top{
    margin: auto;
    height: 62px;
    overflow: hidden;
    width: 1030px;
}
.logo{
    float: left;
    margin-top: 8px;
}
.title{
    font-size: 24px;
    color: #ffffff;
    line-height: 62px;
    font-family: "微软雅黑";
    float: left;
    margin-left: 20px;
}
.set{
    float: right;
    margin-top: 19px;
    margin-right: 5px;
    position: relative;
}
.set .tip{
    background-image: url(./imgs/set_tips.png);;
    width: 65px;
    height: 26px;
    position: absolute;
    top: -13px;
    left: -65px;
    line-height: 26px;
    text-indent: 0.4em;
    color: #0082fe;
    font-size: 12px;
}
.banner{
    width: 1030px;
    margin: auto;
    position: relative;
    z-index: -99;
}
.banner img{
    display: block;
}
.content{
    width: 1030px;
    margin: auto;
    margin-bottom: 50px;
}
.left{
    float: left;
    width: 230px;
    margin-top: -105px;
}
.userborder{
    background-image: url(./imgs/border_bg.png);
    margin-bottom: 10px;
    width: 230px;
    height: 216px;
}
.user{
    padding: 5px 0 15px 0;
}
.userpic{
    width: 82px;
    height: 82px;
    margin: auto;
    border-radius: 40px;
}
.username{
    text-align: center;
    color: #3E3E3E;
    font-size: 14px;
    margin-top: 20px;
}
.address-select{
    position: relative;
    width: 130px;
    margin: 10px auto 0 auto;
}
.address-select label{
    display: block;
    background-image: url(./imgs/address_select_bg.png);
    width: 130px;
    height: 30px;
    margin: auto;
    line-height: 29px;
    text-indent: 1.5em;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
#user-status{
    margin-left: 30px;
}
.arrow-down{
    width: 9px;
    height: 7px;
    background-image: url(./imgs/arrow-down.png);
    position: absolute;
    right: 10px;
    top: 12px;
}
#status{
    width: 130px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.user-handle{
    font-size: 12px;
    text-align: center;
    color: #3E3E3E;
    margin-top: 10px;
}
.user-handle a{
    display: inline-block;
    padding: 0 5px;
    color: #3E3E3E;
}
.border{
    border-left: 1px solid #dbdadb;
    border-right: 1px solid #dbdadb;
    border-bottom: 1px solid #dbdadb;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.login{
    border-bottom: 1px solid #b8b6b7;
    padding: 5px 0 15px 0;
}
.login .title{
    margin-left: 10px;
    padding-bottom: 0px;
    position: relative;
    height: 53px;
}
#loginset{
    display: block;
    width: 17px;
    height: 17px;
    background: url(./imgs/set_ico.png);
    position: absolute;
    right: 30px;
    top: 11px;
    margin-right: -6px;
    cursor: pointer;
}
.login-link{
    /* overflow: hidden; */
    margin: 0 8px 0 8px;
    min-height: 335px;
}
.item{
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    float: left;
    margin-top: 10px;
    width: 60px;
    padding-left: 4px;
    padding-right: 4px;
}
.item img{
    width: 44px;
    height: 44px;
    display: block;
    margin: auto;
}
.item p{
    width: 100%;
    font-size: 12px;
    color: #747474;
    display: inline-block;
    text-align: center;
}
.Pageselect{
    text-align: center;
    margin-top: 10px;
}
.school-inform{
    border-bottom: 1px solid #b8b6b7;
    padding: 5px 0 15px 0;
}
.inform-title{
    margin-left: 10px;
    padding-bottom: 0px;
    position: relative;
}
.inform-title img{
    display: block;
    
}
.inform-title i{
    position: absolute;
    right: 20px;
    top: 11px;
    margin-right: -6px;
    cursor: pointer;
}
.more-ico{
    display: block;
    width: 40px;
    height: 16px;
    background-image: url(./imgs/more.png);
    position: absolute;
    right: 20px;
    top: 11px;
    margin-right: -6px;
    cursor: pointer;
}
.middle{
    float: left;
    width: 540px;
    margin-left: 15px;
    margin-top: 15px;
}
.school-notice{
    border-bottom: 0px solid #b8b6b7;
    padding: 15px 0 5px 0;
}
.notice-title{
    padding: 0 20px;
    overflow: hidden;
}
.notice-title i{
    float: left;
}
.notice-title i img{
    width: 38px;
    height: 38px;
    display: block;
}
.notice-title h1{
    float: left;
    font-size: 18px;
    color: #4d4d4d;
    line-height: 38px;
    margin-left: 10px;
}
.notice-text{
    margin-left: 48px;
    margin-top: 0px;
    margin-right: 35px;
    overflow: hidden;
    border-top: 1px solid #ededed;
    padding-top: 10px;
    padding-bottom: 15px;

}
.notice-content{
    margin-left: 15px;
    padding-left: 10px;
    border: 1px solid #dedede;
    padding-top: 10px;
    background-color: #f7f7f7;
}
.appmsgImgArea{
    float: left;
    margin-right: 4px;
    padding: 3px;
}
.appmsgImgArea img{
    width: 60px;
    height: 60px;
    display: block;
}
.appmsgContentArea{
    word-wrap: break-word;
    word-break: break-all;
}

.clear{
    clear: both;
}
.footerbox{
    width: 100%;
    background-color: #0082fe;
    height: 40px;
}
.footer{
    color: #ffffff;
    width: 1030px;
    margin: auto;
    font-size: 12px;
    line-height: 40px;
}